<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hate-Speech Identificator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            
            <div class="container">
                <h1>Hate-Speech Detector</h1>
                <nav>
                    <ul>
                        <li><a href="direccion.html">Home</a></li>
                        <li><a href="direccion.html">Detector</a></li>
                        <li><a href="direccion.html">Otra cosa👍</a></li>
                        <!--button id="menuButton">☰</button-->
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div>
                <label class="label-tweet" for="tweetInput">Ingresa tu tweet:</label>
                <input type="text" id="tweetInput" placeholder="Escribe tu tweet aqui" class="input_tweet">
                
                <label class="label-results" for="tweetInput">Resultado:</label>
                <output type="text" id="mlResults">
                    <h2> {{ results }}</h2>
                </output>
                
                <button id="evaluateButton">Evaluar Hate Speech</button>
                <div id="resultado"></div>
                
            </div>
        </main>
    
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>

    </body>

</html>